<!DOCTYPE html>
<html>
    <head>
        <title>Car Model Finder</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div id="header">
            <h1>Car Model Finder</h1>
            <h4>You give me the year and the car make. I give you the car models.</h4>
        </div>
        <div id="form">
            <label for="years">ENTER YEAR: </label>
            <input type="text" id="years" name="years">
            <label for="make" id="labelForMake">ENTER CAR MAKE: </label>
            <input type="text" id="make" name="make">
            <br>
            <button id="submit">SUBMIT</button>
        </div>
        <div id="display">
            <h3 id="carModelTitle">Car Models</h3>
            <hr>
            <h3 id="carModelString"></h3>
        </div>
        <script src="static/script.js"></script>
    </body>
</html>